
.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  
  .news-item {
    display: flex;
    align-items: flex-start;
    max-width: 300px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .news-image {
    width: 85%;
    max-height: auto;
    object-fit: contain;
  }
  
  .news-details {
    width: 75%;
    padding-left: 10px;
  }
  
  .news-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    width: 75%;
  }
  
  .news-description {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 75%;
  }
  
  .news-link {
    text-decoration: none;
    color: #0066cc;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 10px;
  }
  
  .news-link:hover {
    text-decoration: underline;
  } 

